.Rproj.user
.Rhistory
.RData
/src/*.o
/src/unix/*.o
/src/win/*.o
/src/*.so
/src/*.dll
/src/tools/*.exe
/src/tools/px
/src/tools/px.dSYM/
/src/tools/sock
/src/tools/sock.dSYM/
/src-i386
/src-x64
/src/supervisor/supervisor
/src/supervisor/supervisor.exe
/src/supervisor/supervisor.dSYM
/revdep
/r-packages
/README.html
*.gcda
*.gcno
/dev-lib
/.dev
