.Rproj.user
.Rhistory
.RData
/src/*.o
/src/unix/*.o
/src/win/*.o
/src/processx.so
/src/processx.dll
/src/wintools/*.exe
/src-i386
/src-x64
/src/supervisor/supervisor
/src/supervisor/supervisor.exe
/src/supervisor/supervisor.dSYM
